.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.err {
    color: red
}

.invalid-feedback {}


.errors, .flash-error {
    list-style: none;
    font-size: .8em;
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #fae7ea;
    padding: 9px 15px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    border: 1px solid #e1c5c5;
    color: #8d7575;
    height: fit-content;
}

.error {
    margin-bottom: 0px;
}

.creator {
    background: #ffd700;
}

.current {
    color: green;
}

.others-msg {
    border-color: grey;
    background-color: #C2DBFB;
}

.msg {
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: .5em;
    border-width: 1px;
    border-style: solid;
}

.my-msg {
    border-color: #206ED2;
    border-style: solid;
}

.system-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size:0.9em;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #206ED2;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF6B13;
}

.chat {
    min-height: 70vh;
    max-height: 70vh;
}

.cropped {
    bottom: unset;
    width: unset;
}