{% extends 'base.html' %}

{% block title %}
Профиль пользователя
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='scripts/profile_page.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container my-3">
    <h2>Профиль пользователя {{ current_user.user_name }}</h2>
    <p>Сыграно игр: <span id="games-total"></span></p>
    <p>Побед: <span id="games-won"></span></p>
    <div id="history">
        <h3>История игр</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Лобби</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Победитель</th>
                    <th scope="col">Детали</th>
                    <th scope="col" class="text-center">Присоединиться</th>
                </tr>
            </thead>
            <tbody id="history-table-body"></tbody>
        </table>
    </div>
</div>
{% endblock %}