{% extends "base.html" %}

{% block title %}
Сброс пароля
{% endblock %}

{% block main %}
<div class="form-signin text-center">
    <form method="post" class="form-contact">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Сброс пароля</h1>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash-{{cat}}">{{msg}}</div>
        {% endfor %}
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
            <div class="form-floating">
                {% if field.errors %}
                    {{ field(class="form-control") }}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li class="error">
                                <span class="err">
                                    {{ error }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ field.label(class="err", value=field.errors[0]) }}
                 {% else %}
                    {{ field(class="form-control") }}
                    {{ field.label() }}
                 {% endif %}
            </div>
        {% endfor %}


        <div>{{ form.submit(class="w-100 btn btn-lg btn-primary mt-3") }}</div>

    </form>
</div>
{% endblock %}