{% extends 'base.html' %}

{% block title %}
Создание комнаты
{% endblock %}


{% block main %}
<div class="form-signin text-center">
    <form method="post" class="form-contact">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Установите настройки игры:</h1>
        {% for field in form if field.name not in ['csrf_token', 'submit', 'is_rect', 'is_separated_armory'] %}
            <div class="form-floating">
                {% if field.errors %}
                    {{ field(class="form-control") }}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li class="error">
                                <span class="err">
                                    {{ error }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ field.label(class="err", value=field.errors[0]) }}
                 {% else %}
                    {{ field(class="form-control") }}
                    {{ field.label() }}
                 {% endif %}
            </div>
        {% endfor %}

        <div class="form-floating form-control">
            <div class="form-check form-switch">
                {{ form.is_rect(class="form-check-input") }}
                {{ form.is_rect.label(class="form-check-label") }}
            </div>
        </div>

        <div class="form-floating form-control">
            <div class="form-check form-switch">
                {{ form.is_separated_armory(class="form-check-input") }}
                {{ form.is_separated_armory.label(class="form-check-label") }}
            </div>
        </div>
        <div>{{ form.submit(class="w-100 btn btn-lg btn-primary") }}</div>
    </form>
</div>

{% endblock %}