{% extends 'base.html' %}

{% block title %}
Создание комнаты
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
{% endblock %}

{% block main %}
<main>
    <h1>Комната: <span id="get-room-name">{{ request.args.get('room') }}</span></h1>
    <div id="control"></div>
    <div id="players" class="list-group list-group-flush border-bottom scrollarea">
        <span id="get-user-name">{{ current_user.user_name }}</span>
    </div>
    <div id="bots" class="list-group list-group-flush border-bottom scrollarea"></div>
    <div id="map-container" class="container d-flex justify-content-center mt-4">
        <canvas class="border" id="map"></canvas>
    </div>
</main>


{% endblock %}

