{% extends 'base.html' %}

{% block title %}
Создание комнаты
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/game_room_page.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="d-flex justify-content-between py-2">
        <h1>Комната: <span id="get-room-name">{{ request.args.get('room') }}</span></h1>
        <a id="logout-room-btn" class="btn btn-lg btn-dark" href="{{url_for('main.play')}}">Покинуть игру</a>
    </div>
    <div id="control"></div>
    <div class="row g-0 py-4">
        <div class="col-sm-6 col-md-4">
            <div id="players" class="list-group list-group-flush scrollarea"></div>
            <div id="bots" class="list-group list-group-flush scrollarea"></div>
        </div>
        <div class="col-sm-6 col-md-8">
            <div id="map-container" class="container d-flex justify-content-center">
                <canvas class="border" id="map"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

