{% extends 'base.html' %}

{% block title %}
Maze Game
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/game_page.js') }}"></script>
{% endblock %}

{% block body %}
    <h4>Game <span id="get-room-name">{{ request.args.get('room') }}</span></h4>
    <div class="container-fluid mh-100" style="height: 85vh">
        <div class="row h-100">
            <div class="col-md-4 col-sm-5">
                <div id="game-info" class="container-fluid border overflow-auto chat"></div>
                <div id="control" class="container d-flex justify-content-center mt-4"></div>
            </div>
            <div class="col-md-8 col-sm-7 h-100">
                <div class="container-fluid overflow-auto h-25">
                    <div id="player-stats" class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-3"></div>
                </div>
                <div class="container-fluid h-75">
                    <div class="py-3">Game Map</div>
                    <div id="map-container" class="py-3 h-75">
                        <canvas class="border" id="map"></canvas>
                    </div>

                </div>

            </div>
        </div>
    </div>


{% endblock %}