{% extends 'base.html' %}

{% block title %}
Страница регистрации
{% endblock %}

{% block main %}
<div class="form-signin text-center">
    <form method="post" class="form-contact">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Регистрация:</h1>
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
             <div class="form-floating">
                 {% if field.errors %}
                    {{ field(class="form-control") }}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li class="error">
                                <span class="err">
                                    {% if field.name == 'username' %}
                                        {{ error }}. <a href="{{ url_for('main.login') }}">Перейти на страницу авторизации.</a>.
                                    {% else %}
                                        {{ error }}
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ field.label(class="err") }}
                 {% else %}
                    {{ field(class="form-control") }}
                    {{ field.label() }}
                 {% endif %}
             </div>
        {% endfor %}
        <div>{{ form.submit(class="w-100 btn btn-lg btn-primary") }}</div>
    </form>
</div>
{% endblock %}