{% extends 'base.html' %}

{% block title %}
Правила игры
{% endblock %}

{% block main %}
<div class="container">
    <h1>Правила игры</h1>
    <aside class="bd-aside">
        <nav id="toc" class="text-decoration-none border-bottom">
            <h3>Содержание</h3>
            <ul class="list-unstyled">
                <li class="my-2"><a href="#Характеристики_игрока">Характеристики игрока</a>
                    <ul class="list-unstyled ps-3">
                        <li><a href="#ХП">ХП</a></li>
                        <li><a href="#Бомбы">Бомбы</a></li>
                        <li><a href="#Стрелы">Стрелы</a></li>
                        <li><a href="#Рюкзак_для_клада">Рюкзак для клада</a></li>
                    </ul>
                </li>
                <li class="my-2">
                    <a href="#Игровое_поле">Игровое поле</a>
                    <ul class="list-unstyled ps-3">
                        <li><a href="#Виды_клеток">Виды клеток</a></li>
                        <li><a href="#Виды_стен">Виды стен</a></li>
                        <li><a href="#Виды_домов">Виды домов</a></li>
                    </ul>
                </li>
                <li class="my-2"><a href="#Предметы">Предметы</a></li>
                <li class="my-2"><a href="#Управление">Управление</a>
                    <ul class="list-unstyled ps-3">
                        <li><a href="#Виды_действий_игроков">Виды действий игроков</a></li>
                        <li><a href="#Виды_направленных_действий">Виды направленных действий</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>

    <div>
        <h2 id="Характеристики_игрока">Характеристики игрока</h2>
        <h3 id="ХП">ХП</h3>
        <p>Текущее здоровье игрока, максимум 2хп.</p>
        <h3 id="Бомбы">Бомбы</h3>
        <p>
            Бомбы - расходуемый предмет. В начале игры у каждого игрока 3шт. Пополняются при входе в Арсенал.
            Используется для разрушения стен (только разрушимые стены реагируют).
        </p>
        <h3 id="Стрелы">Стрелы</h3>
        <p>
            Стрелы - расходуемый предмет. В начале игры у каждого игрока 3шт.
            Пополняются при входе в Арсенал.
            Используется для нанесения урона соперникам.
            Летит до столкновения либо с игроком, либо со стеной. (наносит урон всем игрокам на клетке).
        </p>
        <h3 id="Рюкзак_для_клада">Рюкзак для клада</h3>
        <p>
            Рюкзак для клада - Позволяет игроку подбирать клад. Вмещает только один клад.
            Если игрок теряет более половины ХП, ему становится тяжело передвигаться,
            поэтому клад выпадает.
        </p>
    </div>

    <div>
        <h2 id="Игровое_поле">Игровое поле</h2>
        <h3 id="Виды_клеток">Виды клеток</h3>
        <ul>
            <li>Суша - самая обычная клетка суши. На ней может находиться один из типов домов.</li>
            <li>
                Река - при попадании в реку игрока смывает на 2 клетки, либо в устье.
                В случае если игрок движется вдоль течения реки, игрока не сносит течением.
                В случае пропуска хода игроком, находящемся в реке, его смоет на одну клетку.
            </li>
            <li>Устье - конец реки.</li>
            <li>
                Выход (клетка) - клетка за пределами лабиринта.
                Если у игрока был клад, то клад исчезнет и в случае, если клад был истинным, то игрок побеждает.
            </li>
        </ul>
        <h3 id="Виды_стен">Виды стен</h3>
        <ul>
            <li>Внешняя стена - является неразрушимой. При столкновении с игроком не пропускает его.</li>
            <li>Бетонная стена - является разрушимой. При столкновении с игроком не пропускает его.</li>
            <li>Выход - является неразрушимой. Является выходом из лабиринта.</li>
        </ul>
        <h3 id="Виды_домов">Виды домов</h3>
        <ul>
            <li>Арсенал - восполняет запас бомб и стрел.</li>
            <li>Склад бомб - восполняет запас бомб.</li>
            <li>Склад стрел - восполняет запас стрел.</li>
            <li>Мед. пункт - восполняет здоровье игрока.</li>
        </ul>
        <h2 id="Предметы">Предметы</h2>
        <p>Предметы появляются на карте при генерации.</p>
        <ul>
            <li>Истинный клад - настоящий клад, игрок вынесший его из лабиринта побеждает.</li>
            <li>Ложный клад - клад-ловушка. Выглядит как настоящий, однако, не приводит к победе при покидании лабиринта.</li>
        </ul>
        <h2 id="Управление">Управление</h2>
        <h3 id="Виды_действий_игроков">Виды действий игроков</h3>
        <ul>
            <li>Пропуск хода - доступен всегда.</li>
            <li>Подобрать клад - доступно, если на клетке под игроком лежит клад, а также здоровье игрока больше половины от максимального.</li>
        </ul>
        <h3 id="Виды_направленных_действий">Виды направленных действий</h3>
        <ul>
            <li>Движение - игрок ходит в указанном направлении</li>
            <li>Выстрел из лука - игрок стреляет из лука в указанном направлении.</li>
            <li>Бросить бомбу - игрок устанавливает бомбу на указанную сторону текущей клетки.</li>
        </ul>
    </div>
</div>

{% endblock %}